<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
     <section name="StudentBatch" type="Common.ConfigFile.ConfigurationSectionHandler, Common"/>
 </configSections>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <StudentBatch>
    <BatchCount>3</BatchCount>
    <Batches>
      <Batch Id="101">
        <StudentCount>2</StudentCount>
        <Students>
          <Student>
            <Id>1</Id>
            <Name>Tom</Name>
            <Department>Science</Department>
            <StudentStatus>New</StudentStatus>
          </Student>
          <Student>
            <Id>2</Id>
            <Name>Alice</Name>
            <Department>History</Department>
            <StudentStatus>New</StudentStatus>
          </Student>
        </Students>
      </Batch>
      <Batch Id="102">
        <StudentCount>2</StudentCount>
        <Students>
          <Student>
            <Id>1</Id>
            <Name>Mary</Name>
            <Department>Arts</Department>
            <StudentStatus>Old</StudentStatus>
          </Student>
          <Student>
            <Id>2</Id>
            <Name>Mark</Name>
            <Department>Arts</Department>
            <StudentStatus>New</StudentStatus>
          </Student>
        </Students>
      </Batch>
      <Batch Id="103">
        <StudentCount>1</StudentCount>
        <Students>
          <Student>
            <Id>1</Id>
            <Name>Ryan</Name>
            <Department>Science</Department>
            <StudentStatus>New</StudentStatus>
          </Student>
        </Students>
      </Batch>
    </Batches>
  </StudentBatch>
</configuration>